{
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "unicorn",
    "import",
    "promise",
    "lit-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "plugin:promise/recommended",
    "plugin:prettier/recommended",
    "plugin:lit-a11y/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "webextensions": true
  }
}
