*.log
logs
.husky
npm-debug.log*
coverage
*.lcov
.nyc_output
node_modules
*.tsbuildinfo
.npm
.eslintcache
*.tgz
*.zip
*.xpi
.env
dist
.idea/
.DS_Store
.vscode
extension
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
stats.json